@font-face{
	font-family: 'Times New Roman';
	src: url('../font/Times New Roman/timesbi.eot');
	src: url('../font/Times New Roman/timesbi.eot?iefix') format('eot'),
	url('../font/Times New Roman/timesbi.woff') format('woff'),
	url('../font/Times New Roman/timesbi.ttf') format('truetype'),
	url('../font/Times New Roman/timesbi.svg#webfont') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Hairline';
	src: url('../font/Lato Hairline/Lato-Hairline.eot');
	src: url('../font/Lato Hairline/Lato-Hairline.eot?iefix') format('eot'),
	url('../font/Lato Hairline/Lato-Hairline.woff2') format('woff2'),
	url('../font/Lato Hairline/Lato-Hairline.ttf') format('truetype'),
	url('../font/Lato Hairline/Lato-Hairline.svg#Lato-Hairline') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Hairline';
	src: url('../font/Lato Hairline Italic/Lato-HairlineItalic.eot');
	src: url('../font/Lato Hairline Italic/Lato-HairlineItalic.eot?iefix') format('eot'),
	url('../font/Lato Hairline Italic/Lato-HairlineItalic.woff2') format('woff2'),
	url('../font/Lato Hairline Italic/Lato-HairlineItalic.ttf') format('truetype'),
	url('../font/Lato Hairline Italic/Lato-HairlineItalic.svg#Lato-Hairline') format('svg');
	font-weight: normal;
	font-style: italic;
}
