body {
	font-family: 'Lato', sans-serif;
}

.container {
	margin-left: 13.125%;
	margin-right: 13.125%;
}

button {
	 padding: 0;
	 background-color: transparent;
	 border: 0;
	 color: inherit;
	 outline: none;
	 cursor: pointer;
}

/*Start header*/
header {
	background-image: url(../img/main.jpg);
	background-size: cover;
}

nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.logo {
	margin-top: 20px;
}

.menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	margin-top: 50px;
}
.menu button {
    display: block;
	margin-right: 1.75%;
}

.menu div:last-child {
	margin-right: 0;
}


.header_text {
	text-align: center;
	margin-top: 275px;
}

.header_text-first {
	font-family: 'Times New Roman';
	font-size: 36px;
	color: #fff;
	margin-bottom: 28px;
	font-weight: bold;
	font-style: italic;
}

.header_text-second {
	font-size: 100px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 40px;

}
.header_button {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	border: 3px solid #fff;
	border-radius: 3px;
	padding: 22px 6.78% 27px;
	text-decoration: none;
	color: #fff;
	margin-bottom: 40px;
}

.header_text-third {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 240px;
}
/*End header*/
/*Start section "first"*/





/*End section "first"*/
