body {
	font-family: 'Lato', sans-serif;
}

.container {
	max-width: 1180px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

button {
	 padding: 0;
	 background-color: transparent;
	 border: 0;
	 color: inherit;
	 outline: none;
	 cursor: pointer;
}

/*Start header*/
header {
	background-image: url(../img/main.jpg);
	background-size: cover;
	height: 100vh;
	min-height: 800px;
	color: #fff;
}

nav {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	align-items: center;
}

.menu button {
	margin-right: 1.75%;
}

.menu button:last-child {
	margin-right: 0;
}

.header__text {
	text-align: center;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.header_text-first {
	font-family: 'Times New Roman', serif;
	font-size: 36px;
	margin-bottom: 28px;
	font-weight: bold;
	font-style: italic;
}

.header_text-second {
	font-size: 100px;
	font-weight: 700;
	margin-bottom: 40px;

}
.header_button {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	border: 3px solid #fff;
	border-radius: 3px;
	padding: 22px 6.78% 27px;
	text-decoration: none;
	color: #fff;
	margin-bottom: 40px;
}

.header_text-third {
	font-size: 14px;
}

/*End header*/
/*Start section "first"*/
.get-block {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px;
}

.get-block__item {
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}

.get-block__item:first-child {
    padding-left: 0;
}
.get-block__item:last-child {
    padding-right: 0;
}
.get-item-text1 {
	position: relative;
	font-size: 18px;
	font-weight: 700;
	padding-top: 20px;
}

.get-item-text1:after {
	content: '';
	width: 25%;
	height: 1px;
	background-color: #f57365;
	position: absolute;
	bottom: -10px;
	left: 0;
	right: 0;
	margin: auto;
}

.get-item-text2 {
	font-size: 16px;
	font-weight: 300;
	padding-top: 20px;
}

/*End section "first"*/
/*Start section "iphone-block"*/

.iphone-block {
    display: flex;
}

.iphone-block__text {
    padding-top: 80px;
    padding-left: 120px;
}

.iphone-block__title {
    margin-bottom: 30px;
    font-weight:bold;
    font-size: 20px;
    position: relative;
}

.iphone-block__title:after {
    content: '';
    width: 25%;
    height: 1px;
    background-color: #f57365;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}
.iphone-block__description {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.8px;
}

.iphone-block__social{
    padding-top: 30px;
    margin-right: 10px;
}

/*End section "iphone-block"*/
/*Start section "reviews-block"*/
.reviews-block {
    background-image: url("../img/bg-review.png");
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}
.reviews-block__slide {
    text-align: center;
	color: #fff;
	font-family: 'Lato-Hairline';
	font-size: 30px;
	line-height: 36px;
}

.reviews-block__slide img {
    display: inline;
	margin-bottom: 30px;
}

.reviews-block__sign {
	font-style: italic;
	font-size: 18px;
	margin-top: 30px;
}

/*End section "reviews-block"*/

/*Start section "browse"*/

.browse {
	padding-top: 100px;
	text-align: center;
}

.browse__titles {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.9px;
	position: relative;
	margin-bottom: 50px;
	display: inline-block;
}

.browse__titles:after {
	content: '';
	position: absolute;
	width: 55%;
	height: 1px;
	background-color: #f57365;
	left: 0;
	right: 0;
	bottom: -10px;
	margin: 0 auto;
}

.browse__catalog {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20% ;
	grid-template-rows: auto auto;
}

.browse__catalog img {
	width: 100%;
}

/*End section "browse"*/

/*Start section "numbers-block"*/

.numbers-block {
	padding: 60px 0;
	display: flex;
	justify-content: space-between;
}
.numbers-block__number {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1.8px;
	margin-bottom: 12px;
	text-align: center;
}
.numbers-block__text {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.8px;
	text-align: center;
}

/*End section "numbers-block"*/

/*Start footer*/
footer {
    background-color: #f7f7f7;
    font-size: 14px;
    padding: 40px 0;
    font-weight: 300;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.footer__text-left {
    opacity: 0.5;
}
.footer__text-right {
    letter-spacing: 2.8px;
}

.footer__text-right span {
    font-weight: 400;
}

/*End footer*/
